@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
  --principal-font: Inter, sans-serif;
  --principal-color: #FE7411;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, ol{
  list-style: none;
}

img{
  max-width: 100%;
}

a{
  font-size: 1rem;
  text-decoration: none;
  font-family: var(--principal-font);
  font-size: 14px;
  color: #222;
}

a.active{
  color: var(--principal-color);
}

a{
  color: #fff;
}

span{
  font-family: var(--principal-font);
  font-size: 14px;
}

h2{
  font-size: 2rem;
  font-family: var(--principal-font);
  font-weight: 600;
}

button{
  cursor: pointer;
  border-radius: 4px;
  padding: 4px;
  font-family: var(--principal-font);
  letter-spacing: 1px;
}

.darkButton{
  color: #fff;
  background-color: #222;
  border: none;
  transition: .4s;
}

.darkButton:hover{
  background-color: #333;
}